In [23]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [3]:
executable_path = {'executable_path' : ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Get LATEST driver version for 93.0.4577
Trying to download new driver from https://chromedriver.storage.googleapis.com/93.0.4577.63/chromedriver_mac64.zip
Driver has been saved in cache [/Users/Freddie/.wdm/drivers/chromedriver/mac64/93.0.4577.63]

In [5]:
url = 'https://redplanetscience.com'
browser.visit(url)

#Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [8]:
html = browser.html

newsSoup = soup(html, 'html.parser')
slideElem = newsSoup.select_one('div.list_text')
slideElem

<div class="list_text">
<div class="list_date">September 10, 2021</div>
<div class="content_title">NASA's Curiosity Takes Selfie With 'Mary Anning' on the Red Planet</div>
<div class="article_teaser_body">The Mars rover has drilled three samples of rock in this clay-enriched region since arriving in July.</div>
</div>

In [11]:
newsTitle = slideElem.find('div', class_ = 'content_title').get_text()
newsTitle

"NASA's Curiosity Takes Selfie With 'Mary Anning' on the Red Planet"

In [12]:
newSum = slideElem.find('div', class_ = "article_teaser_body").get_text()
newSum

'The Mars rover has drilled three samples of rock in this clay-enriched region since arriving in July.'

### Featured Images

In [17]:
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [21]:
fullImageElem = browser.find_by_tag('button')[1]
fullImageElem.click()

In [15]:
html = browser.html
imgSoup = soup(html, "html.parser")

In [18]:
imgSource = imgSoup.find('img', class_ = 'fancybox-image').get('src')
imgSource

'image/featured/mars1.jpg'

In [20]:
imgURL = url+imgSource
imgURL

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [22]:
url = 'https://galaxyfacts-mars.com/'
browser.visit(url)

In [31]:
df = pd.read_html('https://galaxyfacts-mars.com/')[0]
df.columns = ['description', 'Mars', 'Earth']
df.set_index('description', inplace = True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [33]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [34]:
browser.quit()